
.wrap {
    padding: 25px; 
    text-align: center; 
    box-shadow: 0 4px 25px -4px #9da5ab;
    background: #000000; 
    border-radius: 20px;

}
body {
    background-image: url("games.jpeg");
    color: #ffffff;            
}

article { 
    padding: 25px 0; 
    line-height: 150%; 
    text-align: left; 
}

nav .item {
    text-decoration: none;
    animation-duration: 4s;
}
nav .item:hover{
    border-bottom: 1px solid blue;
}

@media only screen and (min-width: 768px) {
    article { 
        padding: 40px; 
    }
    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 30px 40px;
    }
}


html body .wrap article fieldset input,
html body .wrap article fieldset textarea
{
    width: 79%;
}

html body .wrap article fieldset label{
    width: 19%;

}
html body .wrap article fieldset input[type=submit]{
    margin-left: 20%;
    width: 90px;
    padding: 0px;
    
}


