	<fieldset>
			<legend><h3>Comments</h3></legend>
			<label> for="nome"> Nickname: </label><br>
			<imput id="nome" name="nome" type="text" required><br>
		    <label>
			<textarea name="comment" id="comment"> </textarea><br>
	</fieldset>