
<p>Welcome to Downloads page! Here you will find all the files we offer for the most variated platforms.</p>
Para pesquisar um game pressione Ctrl + F e digite o game que procura. <br>
	
	<br><br><h3>SNES</h3>
	<br>

<a href = "http://127.0.0.1/simple-php-website/roms/Rock N' Roll Racing (USA).zip" > Rock n' Roll Racing </a><br>
<a href = "http://127.0.0.1/simple-php-website/roms/Chrono Trigger (USA).zip" > Chrono Trigger </a>


<form method="get" action="/simple-php-website/json/envio.php">
	<fieldset>
			<legend><h3>Comments</h3></legend>
			<label for="Nickname "> Nickname: </label>
			<input id="Nickname" name="Nickname" type="text" required><br>
		    <label for="Comment"> Comment: </label>
			<textarea name="Comment" id="Comment" rows="4" cols="50"> </textarea><br>
			<input type="submit" value="enviar" onclick="alert('ihuuuuullllll')">


	</fieldset>
</form>



<?php
 
// Atribui o conteúdo do arquivo para variável $arquivo
$arquivo = file_get_contents('json/cadastro.json');
 
// Decodifica o formato JSON e retorna um Objeto
$json = json_decode($arquivo,true);

if($json){


 
		// Loop para percorrer o Objeto
		foreach($json as $registro){
   			echo 'Nickname: ' . $registro["Nickname"].'<br>';
    		echo 'Comment: ' . $registro["Comment"].'<br>';
   		}
}
?>
